* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.first {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.header-hero-left,
.header-hero-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    flex-wrap: wrap;
    gap: 100px;
    padding-top: 16px;
    padding-bottom: 100px;
}

.header-hero-left h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-hero-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 200px;
}

.header-hero-left button {
    margin-top: 12px;
}

button {
    border-style: none;
    color: white;
    font-weight: bold;
    padding: 8px 36px;
    border-radius: 6px;
}

.fourth-big,
button {
    background-color: #3882f6;
}

.second h1 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.second-big {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-bottom: 125px;
}

.second-imgs {
    border-style: solid;
    border-color: #3882f6;
    border-radius: 15px;
    border-width: 4px;
    width: 150px;
    height: 150px;
}

.img-text-combo {
    width: 150px;
}

.img-text-combo p {
    text-align: center;
    color: gray;
}

.third {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 125px 0;
}

.third .container {
    width: 780px;
}

.third .quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.author {
    font-size: 24px;
    font-weight: bold;
    text-align: end;
    margin-right: 24px;
}

.fourth {
    display: flex;
    justify-content: center;
    padding: 75px 0;
}

.fourth-big {
    width: 900px;
    height: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    color: white;
}

.fourth-big button {
    border-style: solid;
    border-color: white;
}

.fourth-big-left .call {
    font-weight: bold;
}

.fourth-big-left .gray,
.footer {
    color: #e5e7eb;
    font-size: 12px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}